<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>driver</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BusDepo Admin</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BusDepo Driver</web-resource-name>
            <url-pattern>/</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/logout.jsp</url-pattern>
            <url-pattern>/busPark</url-pattern>
            <url-pattern>/css/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>driver</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BusDepo Driver Accept</web-resource-name>
            <url-pattern>/busParkAccept</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>driver</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <filter>
        <filter-name>CharacterSetFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
